.body {
  max-width: 847px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 19px;
  justify-content: space-between;
  padding-bottom: 33px;
  border-bottom: 1px solid #EAECF6;
  margin-bottom: 40px;
}

.content {
  max-width: 524px;
  width: 100%;
}
.imgBox {
  width: 306px !important;
  display: block;
  height: 195px;
  overflow: hidden;
}

.image {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.6s all ease;
}

.image:hover {
  transform: scale(1.06);
}

.title {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 39px;
  color: #262c51;
  height: 81px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #575a75;
  margin-bottom: 20px;
  max-width: 457px;
}

.footerBox {
  display: flex;
  align-items: center;
  gap: 32px;
}
.footerItem {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #a2a5bf;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footerItem::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}
.footerItem:nth-child(1):before {
  content: "";
  background-image: url("../../assets/imgs/right-calendar.svg");
}
.footerItem:nth-child(2):before {
  content: "";
  background-image: url("../../assets/imgs/right-hour.svg");
}
.footerItem:nth-child(3):before {
  content: "";
  height: 16px;
  background-image: url("../../assets/imgs/right-watch.svg");
}